main > section:nth-child(2) {
    width: 100%;
    position: relative;
    top: 0;
    background-color: black;
}

main > section:nth-child(2) > div {
    position: relative;
    text-align: center;
    padding-top: 50px;
}

main > section:nth-child(2) > div > h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 7px;
    margin-left: 100px;
    padding-bottom: 18px;
    color: white;
}

main > section:nth-child(2) > div > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 6px;
    background: dodgerblue;
    bottom: 0;
    left: 100px;
    border-radius: 3px;
}

main > section:nth-child(2) > section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main > section:nth-child(2) > section > div {
    width: 1215px;
    display: flex;
    gap: 92px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 67px;
    margin-right: 67px;
    transition: all 2s;
}

main > section:nth-child(2) > section > div > aside {
    width: 667px;
    display: flex;
    flex-direction: column;
}

main > section:nth-child(2) > section > div > aside > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 52px;
    margin-top: 0;
    margin-bottom: 24px;
    color: white;
}

main > section:nth-child(2) > section > div > aside > p:nth-child(2), p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: #9494A1 !important;
    margin-top: 0;
}

main > section:nth-child(2) > section > div > aside > div:nth-child(4) {
    position: relative;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

main > section:nth-child(2) > section > div > aside > div:nth-child(4) > #column1 > p {
    font-family: Poppins;
    font-size: 17px;
    color: var(--text-black-900) !important;
}

main > section:nth-child(2) > section > div > aside > div:nth-child(4) > #column1 > p > i {
    color: dodgerblue;
    font-size: 1em;
    margin-right: 10px;
}

main > section:nth-child(2) > section > div > aside > div:nth-child(4) > #column2 {
    position: absolute;
    right: 0;
}

main > section:nth-child(2) > section > div > aside > div:nth-child(4) > #column2 > p {
    font-family: Poppins;
    font-size: 17px;
}

main > section:nth-child(2) > section > div > aside > div:nth-child(4) > #column2 > p > i {
    color: dodgerblue;
    font-size: 1em;
    margin-right: 10px;
}

main > section:nth-child(2) > section > div > aside > div:nth-child(5) {
    position: relative;
    top: 16px;
    margin-bottom: 65px;
}

button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-family: Poppins;
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover {
    color: black;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    cursor: pointer;
}

button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

main > section:nth-child(2) > section > div > aside > div:nth-child(4) > div:nth-child(1) > p:nth-child(6) {
    display: none;
}

main > section:nth-child(2) > section > div > aside > div:nth-child(4) > div:nth-child(1) > p:nth-child(7) {
    display: none;
}