/*---Navigation Bar Starts---*/
nav {
    width: 1350px;
    height: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 0 auto 0;
    background-color: #34495e;
    border-radius: 8px;
    font-size: 0;
}

nav a {
    line-height: 50px;
    height: 100%;
    font-size: 20px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    color: white;
    cursor: pointer;
    font-family: Arial;
}

nav .animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 150px;
}

a:nth-child(2) {
    width: 150px;
}

a:nth-child(3) {
    width: 150px;
}

a:nth-child(4) {
    width: 150px;
}

a:nth-child(5) {
    width: 150px;
}

a:nth-child(6) {
    width: 150px;
}

a:nth-child(7) {
    width: 150px;
}

a:nth-child(8) {
    width: 150px;
}

a:nth-child(9) {
    width: 150px;
}

nav .start-home, a:nth-child(1):hover ~ .animation {
    width: 150px;
    left: 0;
    background-color: dodgerblue;
}

nav .start-about, a:nth-child(2):hover ~ .animation {
    width: 150px;
    left: 150px;
    background-color: dodgerblue;
}

nav .start-education, a:nth-child(3):hover ~ .animation {
    width: 150px;
    left: 300px;
    background-color: dodgerblue;
}

nav .start-skills, a:nth-child(4):hover ~ .animation {
    width: 150px;
    left: 450px;
    background-color: dodgerblue;
}

nav .start-projects, a:nth-child(5):hover ~ .animation {
    width: 150px;
    left: 600px;
    background-color: dodgerblue;
}

nav .start-projects, a:nth-child(6):hover ~ .animation {
    width: 150px;
    left: 750px;
    background-color: dodgerblue;
}

nav .start-projects, a:nth-child(7):hover ~ .animation {
    width: 150px;
    left: 900px;
    background-color: dodgerblue;
}

nav .start-projects, a:nth-child(8):hover ~ .animation {
    width: 150px;
    left: 1050px;
    background-color: dodgerblue;
}

nav .start-projects, a:nth-child(9):hover ~ .animation {
    width: 150px;
    left: 1200px;
    background-color: dodgerblue;
}

/*---Navigation Bar Ends---*/

body > section:nth-child(2) > h2 {
    color: dodgerblue;
    font-size: 40px;
    position: absolute;
    top: 220px;
    left: 100px;
}

body > section:nth-child(2) > h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 270px;
    left: 100px;
}

body > section:nth-child(2) > h3 {
    color: white;
    font-size: 25px;
    position: absolute;
    top: 350px;
    left: 100px;
}

body > section:nth-child(2) > div:nth-child(6) {
    width: 550px;
    height: 450px;
    background-color: dodgerblue;
    border-radius: 100% 0 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

body > section:nth-child(2) > div:nth-child(6) > img {
    width: 380px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*---Hire Me Starts---*/

button {
    align-items: center;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;

    position: absolute;
    top: 425px;
    left: 100px;
}

button:active, button:hover {
    outline: 0;
}

button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
}

button:hover span {
    background: none;
}

button:active {
    transform: scale(0.9);
}

/*---Hire Me Ends---*/

/*---Social Links Starts---*/
.clip {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.svg--icon {
    width: 100%;
    max-width: 5rem;
    height: 100%;
    max-height: 5rem;
    display: block;
    margin: 0 auto;
    fill: currentColor
}

.share {
    width: 5rem;
    height: 5rem;
    float: left;
    margin: .5rem 1rem .5rem 0;
    color: white;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 50%;
    transition: 250ms;

    &:last-child {
        margin-right: 0
    }

    &:hover, &:focus {
    / / background: #f1f1f1;
    }

    &:focus {
        outline-color: inherit;
    }
}

.twitter {
    &:hover, &:focus {
        color: #00ACED;
        box-shadow: 0 0 24px 0 #00ACED
    }
}

.github {
    &:hover, &:focus {
        color: #4183c4;
        box-shadow: 0 0 24px 0 #4183c4
    }
}

.pinterest {
    &:hover, &:focus {
        color: dodgerblue;
        box-shadow: 0 0 24px 0 dodgerblue
    }
}

.linkedin {
    &:hover, &:focus {
        color: dodgerblue;
        box-shadow: 0 0 24px 0 dodgerblue
    }
}

.facebook {
    &:hover, &:focus {
        color: dodgerblue;
        box-shadow: 0 0 24px 0 dodgerblue
    }
}

.google {
    &:hover, &:focus {
        color: dodgerblue;
        box-shadow: 0 0 24px 0 #0077B5
    }
}

body section:nth-child(2) > div:last-child > div > div {
    position: absolute;
    left: 100px;
    top: 530px;
}

body section:nth-child(2) > div:last-child > div > div > a {
    width: 60px;
    height: 60px;
}

/*---Social Links Ends---*/