main > section:nth-child(2) {
    position: relative;
    top: 0;
    width: 100%;
}

main > section:nth-child(2) > section:nth-child(1) {
    position: relative;
    text-align: center;
}

main > section:nth-child(2) > section:nth-child(1) > h1 {
    font-family: Ubuntu;
    font-size: 50px;
    text-align: center;
    margin-bottom: 7px;
    padding-bottom: 18px;
    color: white;
}

main > section:nth-child(2) > section:nth-child(1) > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}

main > section:nth-child(2) > section:nth-child(1) > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 6px;
    background: dodgerblue;
    bottom: 0;
    left: calc(50% - 110px);
}

main > section:nth-child(2) > div:nth-child(2) {
    display: none;
}

main > section:nth-child(2) > section:nth-child(3) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

main > section:nth-child(2) > section:nth-child(3) > div {
    width: 2000px;
    display: flex;
    gap: 92px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 67px;
    margin-right: 67px;
    transition: all 2s;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) {
    width: 667px;
    display: flex;
    flex-direction: column;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    line-height: 52px;
    margin-top: 0;
    margin-bottom: 24px;
    color: white;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > p:nth-child(2), p:nth-child(3) {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 24px;
    color: white;
    margin-top: 0;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > p > abbr:hover {
    cursor: pointer;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(4) {
    position: relative;
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(4) > #column1 > p {
    font-family: Poppins;
    font-size: 17px;
    color: white;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(4) > #column1 > p > i {
    color: dodgerblue;
    font-size: 1em;
    margin-right: 10px;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(4) > #column1 > p > span {
    color: white;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(4) > #column2 > p {
    font-family: Poppins;
    font-size: 17px;
    color: white;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(4) > #column2 > p > i {
    color: dodgerblue;
    font-size: 1em;
    margin-right: 10px;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(4) > #column2 {
    position: absolute;
    right: 0;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(4) > #column2 > p > span {
    color: white;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(5) {
    position: relative;
    top: 16px;
    margin-bottom: 65px;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(5) > button {
    width: 209px;
    height: 46px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 10px;
    font-family: 'Ubuntu', SansSerif;
    text-align: center;
    padding-left: 0px;
    color: #FFFFFF;
    cursor: pointer;
    border-width: 0;
    font-size: 20px;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside:nth-child(2) > div:nth-child(5) > button:hover {
    color: black;
    transform: scale(1.01);
    box-shadow: 0 0 15px 3px dodgerblue;
    transition: all 0.5s ease;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside > div:nth-child(4) > div:nth-child(1) > p:nth-child(6) {
    display: none;
}

main > section:nth-child(2) > section:nth-child(3) > div > aside > div:nth-child(4) > div:nth-child(1) > p:nth-child(7) {
    display: none;
}