body > section:nth-child(6) > section {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    width: 98%;
}

body > section:nth-child(6) > section > div > h3 {
    margin-left: 10px;
    text-align: center;
}
body > section:nth-child(6) > section > div >a> img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px dodgerblue;
}

body > section:nth-child(6) > section > div:first-child > div {
    width: 145px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 20px;
    position: absolute;
    left: 185px;
}

body > section:nth-child(6) > section > div:nth-child(2) > div {
    width: 145px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 20px;
    position: absolute;
    left: 630px;
}

body > section:nth-child(6) > section > div:nth-child(3) > div {
    width: 145px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 20px;
    position: absolute;
    left: 1070px;
}

body > section:nth-child(6) > section > div > div > a {
    width: 300px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 15px;
    margin: auto;
}

body > section:nth-child(6) > a {
    text-decoration: none;
    position: relative;
    top: 120px;
    left: 650px;
}