body > section:nth-child(7) > section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    width: 98%;
}

body > section:nth-child(7) > section > div:first-child > div {
    width: 145px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 20px;
    position: absolute;
    left: 225px;
}

body > section:nth-child(7) > section > div:nth-child(2) > div {
    width: 145px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 20px;
    position: absolute;
    left: 625px;
}

body > section:nth-child(7) > section > div:nth-child(3) > div {
    width: 145px;
    height: 30px;
    background-color: dodgerblue;
    border-radius: 20px;
    position: absolute;
    left: 1025px;
}

body > section:nth-child(7) > section > div > div > a {
    width: 300px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 15px;
    margin: auto;
}

body > section:nth-child(7) > a {
    text-decoration: none;
    position: relative;
    top: 120px;
    left: 645px;
}