body > section:nth-child(9) > address {
    position: absolute;
    top: 120px;
}


body > section:nth-child(9) > address > div {
    margin-left: 50px;
    padding: 20px;
}

body > section:nth-child(9) > address > div > span {
    margin-left: 20px;
}

body > section:nth-child(9) > nav {
    position: absolute;
    top: 550px;
    left: 100px;
}

body > section:nth-child(9) > nav:nth-child(3) > a:nth-child(4) > img {
    position: relative;
    top: 5px;
}

body > section:nth-child(9) > form {
    position: absolute;
    top: 150px;
    right: 300px;
}

body > section:nth-child(9) > form > fieldset > button {
    background-color: dodgerblue;
    color: black;
}

body > section:nth-child(9) > p {
    width: 400px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 15px;
}