main > section:nth-child(7) {
    position: relative;
    top: 0;
    width: 100%;
}

main > section:nth-child(7) > section:nth-child(1) {
    position: relative;
    text-align: center;
    padding-top: 100px;
}

main > section:nth-child(7) > section:nth-child(1) > h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 18px;
    color: white;
}

main > section:nth-child(7) > section:nth-child(1) > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}

main > section:nth-child(7) > section:nth-child(1) > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 6px;
    background: dodgerblue;
    bottom: 0;
    left: calc(50% - 110px);
}

main > section:nth-child(7) > section:nth-child(2) > section:first-child {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

main > section:nth-child(7) > section:nth-child(2) > section:first-child > h3:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    margin: 0px 0px 13px;
    text-align: center;
    color: dodgerblue;
}

main > section:nth-child(7) > section:nth-child(2) > section:first-child > h4:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: white;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) {
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div {
    display: inline-flex;
    justify-content: space-evenly;
    width: 1004px;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > h4:nth-child(2) {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    margin: 10px 0 0;
    color: white;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > i:first-child {
    color: dodgerblue;
    font-size: 1.99em;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > i:first-child:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > p:nth-child(3) {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    margin: 10px 0 0;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) > h3:first-child {
    font-family: 'Roboto', sans-serif;
    font-size: 29px;
    margin: 0px 0px 13px;
    text-align: center;
    color: dodgerblue;
}

main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) > h4:nth-child(2) {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0;
    color: white;
}

main > section:nth-child(7) > section:nth-child(3) {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.contactDetails > input {
    width: 39vw;
    height: 44px;
    background: #F7F8FA;
    border-radius: 10px;
    border: none;
    padding: 0 0 0 20px;
}

.contactDetails > input:hover {
    box-shadow: 0 0 15px 3px dodgerblue;
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(2) > input {
    width: 81vw;
    height: 44px;
    background: #F7F8FA;
    border-radius: 10px;
    border: none;
    padding: 0 0 0 20px;
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(2) > input:hover {
    box-shadow: 0 0 15px 3px dodgerblue;
}

main > section:nth-child(7) > section:nth-child(3) > form:first-child > fieldset > div:nth-child(3) > textarea {
    width: 81vw;
    height: 184px;
    background: #F7F8FA;
    border-radius: 10px;
    border: none;
    padding: 20px 0 0 20px;
}

main > section:nth-child(7) > section:nth-child(3) > form:first-child > fieldset > div:nth-child(3) > textarea:hover {
    box-shadow: 0 0 15px 3px dodgerblue;
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(3) {
    position: relative;
}

main > section:nth-child(7) > section:nth-child(3) > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:first-child {
    display: flex;
    flex-direction: row;
    gap: 2.9vw;
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button {
    display: flex;
    gap: 27px;
    width: 185px;
    height: 49px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 10px;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-left: 62px;
    padding-top: 14px;
    cursor: pointer;
    margin-bottom: 50px;
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button:hover {
    transform: scale(1.01);
    box-shadow: 0 0 15px 3px dodgerblue;
    cursor: pointer;
    color: black;
    transition: all 0.5s ease;
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button > div {
    margin-top: -10px;
    width: 40px;
    height: 42px;
    border-radius: 100%;
    background: #F9FAFB;
    box-shadow: inset -13px -13px 16px #FFFFFF, inset 13px 13px 16px rgba(13, 39, 80, 0.16);
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button > div > i {
    position: relative;
    left: 27.5%;
    top: 27.19%;
    color: dodgerblue;
}

main > section:nth-child(7) > section:nth-child(3) > form {
    display: inline-block;
}

main > section:nth-child(7) > section:nth-child(3) > form > fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    gap: 29px;
    border: none;
}