body > section:nth-child(3) > section {
    display: flex;
    justify-content: space-evenly;
}

body > section:nth-child(3) > section > div {
    margin-top: 120px;
    height: 100px;
}

body > section:nth-child(3) > section > div > p {
    width: 390px;
}

body > section:nth-child(3) > section > div > span:first-child {
    background-color: dodgerblue;
    color: black;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}

body > section:nth-child(3) > section > div > span:first-child:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px 2px dodgerblue;
    cursor: pointer;
}