footer {
    position: relative;
    width: 100%;
    background: #464444;
}

footer > section:first-child > div:first-child > h2:first-child {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

footer > section:first-child > div:first-child > h2:first-child > span {
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    color: dodgerblue;
}

footer > section:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > section:first-child > div:first-child > nav:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: 25px;
}

footer > section:first-child > div:first-child {
    display: flex;
    flex-direction: column;
}

footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child {
    display: flex;
    justify-content: space-evenly;
    gap: 37px
}

footer > section:first-child > div:first-child > nav:nth-child(2) > div {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;
}

footer > section:first-child > div:first-child > nav:nth-child(2) > div:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    box-shadow: 0 0 5px 1px dodgerblue;
}

footer > section:first-child > div:first-child > nav:nth-child(2) > div:hover > a > i:hover {
    transition: all 0.5s ease;
    color: dodgerblue !important;
}

footer > section:first-child > div:first-child > nav:nth-child(2) > div > a > i {
    font-size: 2.00em;
    color: black;
    padding-top: 10px;
    cursor: pointer;
}

footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child > li {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    cursor: pointer;
    list-style: none;
}

footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child > li > a {
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s all;
    color: white;
}

footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child > li > a:hover {
    color: dodgerblue;
    transition: 0.5s all;
}

footer > section:nth-child(3) {
    background: #343030;
    text-align: center;
}

footer > section:nth-child(3) > small:first-child {
    color: white;
}

#aboutCube2 {
    display: none;
}

footer > section:first-child > div:first-child > h2:nth-child(4) {
    display: none;
}

footer > section:first-child > div:first-child > h2:nth-child(4) > span {
    display: none;
}