main > section:nth-child(5) {
    position: relative;
    top: 0;
    width: 100%;
}

/**
* title in gallery section
*/
main > section:nth-child(5) > section:first-child {
    position: relative;
    text-align: center;
    padding-top: 0;
}

main > section:nth-child(5) > section:first-child > h4 {
    font-family: 'Lato', sans-serif;
    font-weight: initial;
    font-size: 25px;
    color: dodgerblue !important;
    text-align: center;
    padding-top: 12px;
    margin: 0;
}

main > section:nth-child(5) > section:first-child > h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 7px;
    padding-bottom: 18px;
    color: white;
}

/**
* title underline in gallery section
*/
main > section:nth-child(5) > section:first-child > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}

main > section:nth-child(5) > section:first-child > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 6px;
    background: dodgerblue;
    bottom: 0;
    left: calc(50% - 110px);
    /*border-radius: 3px;*/
}

/**
* added section positions gallery section
*/
main > section:nth-child(5) > section:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    padding-bottom: 7px;
}

/**
* added section display type grid
*/
main > section:nth-child(5) > section:nth-child(2) > section:first-child {
    width: 1100px;
    margin-left: 70px;
    margin-right: 70px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 9px;
}

/**
* customized all divs
*/
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
    border-radius: 15px;
}

/**
 * Customized 01 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:first-child {
    grid-row: 1/2;
    grid-column: 1/3;
    background: url("../img/gallery/1.jpg") center;
    background-size: cover;
}

/**
 * Customized 02 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(2) {
    background: url("../img/gallery/2.jpg");
    background-size: cover;
}

/**
 * Customized 03 Image grid-column and grid-row
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(3) {
    grid-column: 4/5;
    grid-row: 1/4;
    background: url("../img/gallery/3.jpg") center;
    background-size: cover;
}

/**
 * Customized 04 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(4) {
    background: url("../img/gallery/4.jpg");
    background-size: cover;
}

/**
 * Customized 05 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(5) {
    background: url("../img/gallery/5.jpg");
    background-size: cover;
}

/**
 * Customized 06 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(6) {
    background: url("../img/gallery/6.jpg") center;
    background-size: cover;
}

/**
 * Customized 07 Image
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(7) {
    background: url("../img/gallery/7.jpeg");
    background-size: cover;
}

/**
 * Customized 08 Image grid-column and grid-row
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(8) {
    grid-column: 2/4;
    grid-row: 3/4;
    background: url("../img/gallery/8.jpg");
    background-size: cover;
}

/**
 * Added Hover Effects
 */
main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(0.96);
    transform: scale(0.96);
    box-shadow: 0 0 10px 2px dodgerblue;
    cursor: pointer;
}