header {
    position: fixed;
    background: black;
    width: 100%;
    top: 0;
    height: 73px;
    z-index: 999;
}

#heading1 {
    position: relative;
    left: 20px;
    top: 15px;
    color: white;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
}

#heading2 {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: dodgerblue;
}

.menu {
    position: absolute;
    right: 15px;
    top: 0;
}

.menu ul li {
    display: inline-block;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    font-family: Bahnschrift !important;
    font-size: 15px;
    font-weight: 600;
}

.menu ul li a {
    line-height: 20px;
    transition: 0.3s all;
    color: white;
}

.hover-line::after {
    content: '';
    display: block;
    width: 0%;
    height: 6px;
    background-color: dodgerblue;
    border-radius: 0%;
    transition: width .3s;
}

.hover-line:hover::after {
    width: 100%;
    transition: width .3s;
}

/*==================== Dark Mode ====================*/
.theme-checkbox {
    --toggle-size: 6px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 6.25em;
    height: 3.125em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, black)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, black 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, black 50%) no-repeat;
    background-size: 205%;
    background-position: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    border-radius: 99em;
    position: relative;
    cursor: pointer;
    font-size: var(--toggle-size);
    top: -30px;
    left: 200px;
}

.theme-checkbox::before {
    content: "";
    width: 2.25em;
    height: 2.25em;
    position: absolute;
    top: 0.438em;
    left: 0.438em;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, black)) no-repeat;
    background: -o-linear-gradient(left, #efefef 50%, black 50%) no-repeat;
    background: linear-gradient(to right, #efefef 50%, black 50%) no-repeat;
    background-size: 205%;
    background-position: 100%;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.theme-checkbox:checked::before {
    left: calc(100% - 2.25em - 0.438em);
    background-position: 0;
}

.theme-checkbox:checked {
    background-position: 100%;
}