main > section:nth-child(1) {
    position: relative;
    width: 100%;
}

main > section:nth-child(1) > section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main > section:nth-child(1) > section > div {
    width: 2000px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 60px;
    margin-top: 35px;
    transition: all 1s;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) {
    position: relative;
    display: flex;
    flex-direction: column;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > h3 {
    font-family: Poppins;
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 0;
    color: dodgerblue;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > h1:nth-child(2) {
    font-family: Poppins;
    font-size: 55px;
    margin-top: 7px;
    margin-bottom: 0;
    color: dodgerblue;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > h1:nth-child(2) > span {
    font-family: Poppins;
    font-size: 55px;
    color: white;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > h1:nth-child(3) {
    font-family: Poppins;
    font-size: 32px;
    color: white;
    margin-top: 7px;
    margin-bottom: 20px;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > h1:nth-child(3) > span {
    font-family: Poppins;
    font-size: 32px;
    color: dodgerblue;
}

.typed-cursor {
    display: none;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > button {
    position: relative;
    width: 180px;
    height: 60px;
    background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    text-align: center;
    font-size: 25px;
    color: white;
    cursor: pointer;
    border-width: 0;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > button:hover {
    color: black;
    transform: scale(1.01);
    box-shadow: 0 0 15px 3px dodgerblue;
    transition: all 0.5s ease;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > section:nth-child(5) > h3 {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: white;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > section:nth-child(5) > nav {
    display: flex;
    gap: 15px;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > section:nth-child(5) > nav > div {
    width: 67px;
    height: 67px;
    background: white;
    border-radius: 15px;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > section:nth-child(5) > nav > div:hover {
    box-shadow: 0 0 15px 3px dodgerblue;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > section:nth-child(5) > nav > div > a > i {
    position: relative;
    left: 23%;
    top: 23%;
    font-size: 2.40em;
    color: black;
    cursor: pointer;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > section:nth-child(5) > nav > div:nth-child(5) > a > i {
    font-size: 2.00em;
    top: 29%;
    left: 32%;
}

main > section:nth-child(1) > section > div > aside:nth-child(1) > section:nth-child(5) > nav > div:hover, a > i:hover {
    transition: all 0.5s ease;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
    color: dodgerblue !important;
}

main > section:nth-child(1) > section > div > aside:nth-child(2) > div {
    background: url(../img/home-img.png);
    width: 440px;
    height: 547px;
    background-size: cover;
    position: relative;
    bottom: 18px;
}