@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Bebas+Neue&family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&family=Lato:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #9494A1;
}

* {
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

main {
    position: relative;
    margin-top: 73px;
    width: 100%;
}

/*======================================== ScrollBar ========================================*/
::-webkit-scrollbar {
    display: none;
    width: 6px;
    background: #3f3838;
}

::-webkit-scrollbar-thumb {
    background: dodgerblue;
}

/*Scroll-Up-Button*/
#scroll_up_btn {
    position: fixed;
    opacity: 100%;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: dodgerblue;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    transition: all 0.4s;
}

#scroll_up_btn > i {
    font-size: 19px;
    color: black !important;
    line-height: 0;
    position: absolute;
    right: 10px;
    top: 17px;
}

#scroll_up_btn:hover {
    color: dodgerblue !important;
    opacity: 100%;
    transform: translateY(-5px);
}