main > section:nth-child(6) {
    position: relative;
    top: 0;
    width: 100%;
}

main > section:nth-child(6) > section:nth-child(1) {
    position: relative;
    text-align: center;
    padding-top: 100px;
}

main > section:nth-child(6) > section:nth-child(1) > h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 18px;
    color: white;
}

main > section:nth-child(6) > section:nth-child(1) > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}

main > section:nth-child(6) > section:nth-child(1) > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 6px;
    background: dodgerblue;
    bottom: 0;
    left: calc(50% - 110px);
}

main > section:nth-child(6) > section:nth-child(2) {
    display: flex;
    margin-top: 60px;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 1217px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 67px;
    margin-right: 67px;
    flex-wrap: wrap;
}

.card {
    position: relative;
    width: 339px;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
}

.card-inner {
    padding-right: 30px;
}

.card-thumb {
    position: relative;
    z-index: 2;
}

.card-thumb img {
    width: 100%;
    border-radius: 15px;
}

.card-thumb span {
    width: 80px;
    height: 80px;
    background-color: dodgerblue;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 45px;
    transform: translateY(50%);
    transition: .5s;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.card-inner:hover .card-thumb span {
    background-color: #fff;
    color: dodgerblue;
}

.card_detail {
    position: relative;
    height: 290px;
    z-index: 1;
    left: 30px;
    text-align: center;
    padding-top: 39px;
}

.card_detail::before {
    position: absolute;
    content: " ";
    background-color: #ECF0F3;
    left: 0;
    right: 0;
    bottom: 0;
    top: -200px;
    z-index: -1;
    transition: .5s;
    border-radius: 20px;
}

.card-inner:hover .card_detail::before {
    background-color: dodgerblue;
}

.card-inner:hover .card_detail h4, .card-inner:hover .card_detail p, .card-inner:hover .card_detail a {
    color: #fff;
}

.card_detail h4 {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    margin: 1px 50px 15px;
    transition: .5s;
}

.card_detail p {
    font-family: 'Poppins';
    font-size: 15px;
    color: black;
    line-height: 1.5;
    transition: .5s;
    margin: 0 20px 20px;
}

.card_detail a {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    color: dodgerblue;
    transition: .5s;
}