/*======================================== 1231px ========================================*/
@media (max-width: 1231px) {
    /*about section*/
    main > section:first-child > section:first-child > div:first-child {
        width: 1100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0px;
        margin-top: 69px;
        row-gap: 15px;
        transition: all 2s;
    }

    #aboutWave {
        display: block;
        position: absolute;
        width: 352px;
        height: 74px;
        fill: none;
        left: 0px;
        top: 588px;
        transition: all 2s;
    }

    #aboutCube2 {
        display: block;
        position: absolute;
        width: 114px;
        height: 157px;
        fill: none;
        right: 160px;
        top: 433px;
        transition: all 2s;
        z-index: -1;
    }

    /*services section*/
    main > section:nth-child(3) > section:nth-child(2) > section {
        transition: all 2s;
    }

    main > section:nth-child(3) > div:nth-child(3) {
        top: 1200px;
        transition: all 2s;
    }

    /*gallery section*/
    main > section:nth-child(5) > section:nth-child(2) > section:first-child {
        width: 900px;
        height: 500px;
        display: grid;
        transition: all 2s;
    }

    /*project section*/
    .wrapper {
        width: 900px;
        gap: 28px;
        row-gap: 60px;
        transition: all 2s;
    }

    .card {
        width: 430px;
        transition: all 2s;
    }

    .card_detail h4 {
        margin: 22px 50px 15px;
        transition: .5s;
    }

    .card_detail p {
        font-family: 'Poppins';
        color: #666;
        font-size: 15px;
        transition: all 2s;
    }

    /*home section*/
    main > section:first-child > section > div:first-child > aside:nth-child(2) > div:first-child {
        width: 380px;
        height: 487px;
    }

    main > section:first-child > section:first-child > div:first-child {
        margin-top: 2px;
        transition: all 2s;
    }

    /*client section*/
    main > section:nth-child(6) > section:nth-child(6) > div:first-child {
        width: 1087px;
        row-gap: 16px;
        transition: all .5s;
    }

    main > section:nth-child(6) > section:nth-child(6) {
        margin-top: 45px;
        transition: all .5s;
    }

    /*contact section*/
    main > section:nth-child(7) > section:first-child {
        padding-top: 10px;
    }
}

/*======================================== 1179px ========================================*/
@media (max-width: 1179px) {
    /*home section*/
    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h3:first-child {
        font-size: 26px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) > span {
        font-size: 45px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) > span {
        font-size: 45px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) {
        font-size: 45px;
        margin-top: 9px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) {
        font-size: 40px;
        margin-top: 9px;
        margin-bottom: 12px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) {
        font-size: 40px;
        margin-top: 9px;
        margin-bottom: 12px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) {
        width: 177px;
        height: 57px;
        font-size: 22px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) > div {
        top: 4px;
        left: 120px;
        height: 50px;
        width: 52px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > h3 {
        font-size: 18px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav > div {
        width: 55px;
        height: 55px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav:nth-child(2) > div:nth-child(1) > a > i {
        font-size: 1.7em;
        left: 32%;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav:nth-child(2) > div > a > i {
        left: 23%;
        top: 26%;
        font-size: 1.9em;
        transition: all 2s;
    }
}

/*======================================== 1024px ========================================*/
@media (max-width: 1024px) {
    /*contact section*/
    main > section:nth-child(7) > section:nth-child(2) > section:first-child > h3:first-child {
        font-size: 25px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:first-child > h4:nth-child(2) {
        font-size: 19px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) {
        margin-top: 68px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div {
        width: 760px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > i:first-child {
        font-size: 1.5em;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > h4:nth-child(2) {
        font-size: 17px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > p:nth-child(3) {
        font-size: 16px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) > h3:first-child {
        font-size: 25px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) > h4:nth-child(2) {
        font-size: 19px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) {
        margin-top: 65px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(3) {
        margin-top: 46px;
        transition: all 2s;
    }

    /*footer section*/
    footer > section:first-child > div:first-child > h2:first-child {
        font-size: 40px;
        transition: all 2s;
    }

    footer > section:first-child > div:first-child > h2:first-child > span {
        font-size: 40px;
        transition: all 2s;
    }

    footer > section:first-child > div:first-child > nav:nth-child(2) {
        gap: 20px;
        transition: all 2s;
    }

    footer > section:first-child > div:first-child > nav:nth-child(2) > div {
        width: 35px;
        height: 35px;
        transition: all 2s;
    }

    footer > section:first-child > div:first-child > nav:nth-child(2) > div > a > i {
        font-size: 20px;
        transition: all 2s;
    }

    footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child {
        gap: 29px;
        transition: all 2s;
    }

    footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child > li {
        font-size: 13px;
        transition: all 2s;
    }
}

/*======================================== 996px ========================================*/
@media (max-width: 996px) {
    /*header*/
    .menu {
        display: none;
        transition: all .5s;
    }

    #header-Nav {
        display: inline-block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        margin-right: 52px;
        background: none;
        border: none;
        transition: all .5s;
    }

    #header-Nav i {
        font-size: 1.8em;
        color: #FFA500;
        transition: all .5s;
    }

    .headingSecondShape {
        right: -82px;
        transition: all .5s;
    }

    #heading1 {
        left: 73px;
        transition: all .5s;
    }

    /*home section*/
    main > section:first-child > section:first-child > div:first-child {
        width: 888px;
        gap: 16px;
        transition: all 2s;
    }

    main > section:first-child > section > div:first-child > aside:nth-child(2) > div:first-child {
        width: 360px;
        height: 397px;
        transition: all 2s;
    }

    main > section:first-child > section:first-child > div:first-child {
        width: 756px;
        flex-direction: column-reverse;
        margin-top: 0;
        gap: 0;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) {
        margin-bottom: 44px;
        transition: all 2s;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav {
        justify-content: center;
        transition: all 2s;
    }
}

/*======================================== 845px ========================================*/
@media (max-width: 845px) {
    /*about section*/
    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > p:nth-child(2), p:nth-child(3) {
        font-size: 14px;
        transition: all .5s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > #column1 > p {
        font-size: 14px;
        transition: all .5s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > #column2 > p {
        font-size: 14px;
        transition: all .5s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) {
        margin-left: 10px;
        margin-right: 10px;
        transition: all .5s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(5) > button:first-child {
        width: 177px;
        height: 34px;
        font-size: 14px;
        transition: all 2s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(5) > button:first-child > div {
        width: 29px;
        height: 30px;
        left: 145px;
        top: 2px;
        transition: all 2s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(5) > button:first-child > div:first-child > i:first-child {
        left: 27%;
        top: 27%;
        transition: all 2s;
    }

    main > section:nth-child(2) > section:nth-child(3) {
        margin-top: 60px;
        transition: all .5s;
    }

    main > section:nth-child(2) > div:nth-child(2) > img:first-child {
        width: 127px;
        transition: all 2s;
    }

    main > section:nth-child(2) > div:nth-child(7) > img:first-child {
        width: 127px;
        transition: all 2s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > div:first-child > img:first-child {
        width: 289px;
        transition: all 2s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > h2:first-child {
        font-size: 33px;
        line-height: 41px;
        margin-bottom: 18px;
        transition: all 2s;
    }

    #aboutWave {
        width: 269px;
        top: 537px;
        transition: all 2s;
    }

    #aboutWave {
        width: 269px;
        height: 64px;
        top: 537px;
        transition: all 2s;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child {
        gap: 77px;
        transition: all .5s;
    }

    #aboutLineCircle {
        width: 86px;
        height: 111px;
        bottom: 31px;
        transition: all 2s;
    }

    /*services section*/
    main > section:nth-child(3) > section:nth-child(2) > section > div {
        width: 99%;
        transition: all 2s;
    }

    main > section:nth-child(3) > div:nth-child(3) {
        top: 2346px;
        transition: all 2s;
    }

    /*project section*/
    .card {
        width: 592px;
    }

    .card-thumb img {
        height: 50%;
    }

    .card_detail {
        height: 250px;
    }
}

/*======================================== 822px ========================================*/
@media (max-width: 882px) {
    /*contact section*/
    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div {
        width: 564px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) {
        margin-top: 45px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > i:first-child {
        font-size: 1.3em;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > h4:nth-child(2) {
        font-size: 15px;
        margin-top: 5px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > p:nth-child(3) {
        font-size: 13px;
        margin-top: 5px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) {
        margin-top: 45px;
    }
}

/*======================================== 768px ========================================*/
@media (max-width: 768px) {
    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav {
        margin-left: -18px;
    }

    main > section:first-child > section > div:first-child > aside:nth-child(2) > div:first-child {
        width: 384px;
    }

    .menu {
        display: none;
    }

    /*about section*/
    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) {
        width: 88vw;
        transition: all 2s;
    }

    /*skills section*/
    #skillHeadings {
        gap: 170px;
        transition: all .5s;
    }

    #btnEducation {
        font-size: 17px;
        transition: all .5s;
    }

    #btnWork {
        font-size: 17px;
        transition: all .5s;
    }

    #languages {
        font-size: 17px;
        transition: all .5s;
    }

    /*gallery section*/
    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:first-child {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(2) {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(3) {
        grid-column: 3/5;
        grid-row: 1/4;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(4) {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(5) {
        display: none;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(6) {
        display: none;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(7) {
        display: none;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(8) {
        display: none;
    }
}

/*======================================== 724px ========================================*/
@media (max-width: 724px) {
    /*project section*/
    .card {
        width: 359px;
    }

    .card_detail {
        height: 228px;
    }

    .card_detail::before {
        top: -168px;
    }

    .card_detail h4 {
        margin: 15px 40px 15px;
        font-size: 21px;
    }

    .card_detail p {
        font-size: 13px;
    }
}

/*======================================== 622px ========================================*/
@media (max-width: 622px) {
    /*footer section*/
    footer > section:first-child > div:first-child {
        flex-direction: column-reverse;
    }

    footer > section:first-child > div:first-child > nav:nth-child(3) > ul:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 21px;
    }

    footer > section:first-child > div:first-child > h2:nth-child(4) {
        display: inline-block;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 6px;
    }

    footer > section:first-child > div:first-child > h2:nth-child(4) > span {
        display: inline-block;
        font-family: 'Ubuntu', sans-serif;
        font-size: 40px;
        color: dodgerblue;
    }

    footer > section:first-child > div:first-child > h2:first-child {
        display: none;
    }

    footer > section:first-child > div:first-child > nav:nth-child(2) {
        margin-bottom: 20px;
    }

    footer > section:first-child > div:first-child > nav:nth-child(3) {
        margin-bottom: 5px;
    }

    /*contact section*/
    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div {
        width: max-content;
        display: flex;
        row-gap: 23px;
        flex-direction: column;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > i:first-child {
        font-size: 22px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > h4:nth-child(2) {
        font-size: 16px;
        margin-top: 6px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) > div:first-child > div > p:nth-child(3) {
        font-size: 14px;
        margin-top: 6px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(2) {
        margin-top: 32px;
    }

    main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button {
        margin-bottom: 20px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) {
        margin-top: 35px;
    }

    main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:first-child {
        flex-direction: column;
        gap: 29px;
        transition: all 2s;
    }

    .contactDetails > input {
        width: 81vw;
        border-radius: 23px;
        font-size: 14px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(2) > input {
        border-radius: 23px;
        font-size: 14px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(3) > form:first-child > fieldset > div:nth-child(3) > textarea {
        border-radius: 23px;
        font-size: 14px;
        transition: all 2s;
    }

    main > section:nth-child(7) > section:nth-child(3) > form > fieldset {
        align-items: normal;
    }

    main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button {
        gap: 20px;
        width: 137px;
        height: 37px;
        font-size: 12px;
        padding-top: 13px;
    }

    main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button > div {
        margin-top: -9px;
        width: 30px;
        height: 30px;
    }

    main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button > div > i {
        left: 31.5%;
        top: 29.19%;
    }

    main > section:nth-child(7) > section:nth-child(3) > form > fieldset > div:nth-child(4) > button {
        margin-bottom: 16px;
    }

    /*about section*/
    main > section:nth-child(2) > section:nth-child(3) > div:first-child {
        gap: 58px;
    }

    main > section:nth-child(2) > div:nth-child(2) {
        left: 53px;
        top: 202px;
    }

    main > section:nth-child(2) > div:nth-child(2) > img:first-child {
        width: 99px;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > div:first-child > img:first-child {
        width: 232px;
    }

    #aboutWave {
        width: 207px;
        height: 74px;
        left: 0px;
        top: 478px;
    }

    #aboutCube2 {
        right: 50px;
        top: 387px;
    }

    main > section:nth-child(2) > div:nth-child(7) > img:first-child {
        width: 99px;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > h2:first-child {
        font-size: 27px;
    }
}

/*======================================== 608px ========================================*/
@media (max-width: 608px) {
    /*about section*/
    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > #column2 {
        display: none;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) {
        width: 195px;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > div:first-child > p:nth-child(6) {
        display: block;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child > aside:nth-child(2) > div:nth-child(4) > div:first-child > p:nth-child(7) {
        display: block;
    }
}

/*======================================== 567px ========================================*/
@media (max-width: 567px) {
    /*skills section*/
    #skillHeadings {
        gap: 128px;
    }
}

/*======================================== 425px ========================================*/
@media (max-width: 425px) {
    .menu {
        display: none;
    }

    /*service section*/
    main > section:nth-child(3) > section:nth-child(2) > section > div {
        width: 274px;
        height: 274px;
    }

    main > section:nth-child(3) > section:nth-child(2) > section > div > div:first-child > i {
        font-size: 1.90em;
        transition: all 2s;
    }

    main > section:nth-child(3) > section:nth-child(2) > section > div > h4:nth-child(2) {
        top: 96px;
        margin: 0 0 10px;
        font-family: 'Inter';
        font-size: 20px;
    }

    main > section:nth-child(3) > section:nth-child(2) > section > div > p:nth-child(3) {
        top: 132px;
        width: 223px;
        font-size: 14px;
    }

    main > section:nth-child(3) > div:nth-child(3) {
        top: 2082px;
        right: 12px;
    }

    main > section:nth-child(3) > section:first-child > h1 {
        font-size: 43px;
    }

    main > section:nth-child(3) > section:first-child > h4 {
        font-size: 21px;
    }

    /*about section*/
    #aboutWave {
        display: none;
    }

    main > section:nth-child(2) > section:nth-child(3) > div:first-child {
        gap: 30px;
    }

    main > section:nth-child(2) > section:first-child > h1 {
        font-size: 43px;
    }

    main > section:nth-child(2) > section:first-child > h4 {
        font-size: 21px;
    }

    /*home section*/
    main > section:first-child > section:first-child > div:first-child {
        flex-direction: column-reverse;
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 0;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) {
        margin-bottom: 44px;
        align-items: center;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h3:first-child {
        font-size: 20px;
        margin-top: 25px;
        margin-left: -253px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) {
        font-size: 29px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(2) > span {
        font-size: 29px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) {
        font-size: 35px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > h1:nth-child(3) > span {
        font-size: 35px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) {
        width: 127px;
        height: 35px;
        font-size: 15px;
        margin-bottom: 33px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) > div {
        top: 3px;
        left: 94px;
        height: 29px;
        width: 29px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > button:nth-child(4) > div:first-child > i:first-child {
        font-size: 13px;
        left: 31%;
        top: 31%;
    }

    main > section:first-child > section:first-child > div:first-child > aside:first-child > section:nth-child(5) > h3:first-child {
        display: none;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) {
        margin-bottom: 14px;
        margin-top: -30px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav > div {
        width: 36px;
        height: 35px;
        background: rgba(236, 240, 243, 50.85);
        box-shadow: -23px -23px 45px #ffffff, 5px 1px 50px rgb(13 39 80);
        border-radius: 15px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav:nth-child(2) > div > a > i {
        left: 26%;
        top: 26%;
        font-size: 1.2em;
        transition: all 2s;
    }

    main > section:first-child > section > div:first-child > aside:nth-child(2) > div:first-child {
        width: 317px;
        height: 382px;
    }

    main > section:nth-child(1) > section > div:first-child > aside:nth-child(1) > section:nth-child(5) > nav:nth-child(2) > div:nth-child(1) > a > i {
        font-size: 1.2em;
    }

    /*project section*/
    main > section:nth-child(6) > section:first-child > h4 {
        font-size: 21px;
    }

    main > section:nth-child(6) > section:first-child > h1 {
        font-size: 43px;
    }

    .card {
        width: 272px;
    }

    .card_detail {
        height: 238px;
    }

    .card_detail::before {
        top: -143px;
    }

    .card_detail h4 {
        margin: 0px 5px 17px;
        font-size: 17px;
    }

    .card_detail p {
        font-size: 12px;
        margin: 0px 20px 20px;
    }

    .card_detail a {
        font-size: 20px;
    }

    .card-thumb span {
        width: 60px;
        height: 60px;
        font-size: 21px;
    }

    /*contact section*/
    main > section:nth-child(7) > section:first-child > h4 {
        font-size: 21px;
    }

    main > section:nth-child(7) > section:first-child > h1 {
        font-size: 43px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:first-child > h3:first-child {
        font-size: 22px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:first-child > h4:nth-child(2) {
        font-size: 17px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) > h3:first-child {
        font-size: 22px;
    }

    main > section:nth-child(7) > section:nth-child(2) > section:nth-child(3) > h4:nth-child(2) {
        font-size: 17px;
    }

    /*gallery section*/
    main > section:nth-child(5) > section:nth-child(2) > section:first-child {
        margin-left: 25px;
        margin-right: 25px;
    }

    main > section:nth-child(5) > section:first-child > h1 {
        font-size: 43px;
    }

    main > section:nth-child(5) > section:first-child > h4 {
        font-size: 21px;
    }

    /*skills section*/
    main > section:nth-child(4) > section:first-child > h1 {
        font-size: 43px;
    }

    main > section:nth-child(4) > section:first-child > h4 {
        font-size: 21px;
    }

    #skillHeadings {
        gap: 70px;
    }

    /*footer section*/
    footer > section:nth-child(3) > small:first-child {
        font-size: 10px;
        transition: all .5s;
    }

    /*client section*/
    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > div:first-child {
        width: 157px;
        height: 165px;
        border: 9px solid #000000;
    }

    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > img:nth-child(2) {
        bottom: 148px;
        z-index: 2;
        width: 123px;
    }

    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > div:nth-child(3) {
        width: 265px;
        height: 255px;
        margin-top: -216px;
    }

    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > div:nth-child(3) > div {
        margin-top: 59px;
    }

    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > div:nth-child(3) > div > h3:first-child {
        font-size: 18px;
        margin-top: 25px;
    }

    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > div:nth-child(3) > div > p:nth-child(2) {
        width: 177px;
        font-size: 13px;
        margin-bottom: 12px;
        margin-top: 9px;
    }

    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > div:nth-child(3) > div > div:nth-child(3) > img {
        height: 16px;
    }

    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > div:nth-child(4) {
        bottom: 149px;
        left: 99px;
    }

    main > section:nth-child(6) > section:nth-child(6) > div:first-child > div > div:nth-child(4) > i {
        font-size: 1.3em;
    }

    main > section:nth-child(6) > section:nth-child(5) > h4 {
        font-size: 21px;
    }

    main > section:nth-child(6) > section:nth-child(5) > h1 {
        font-size: 43px;
    }

    main > section:nth-child(6) > section:nth-child(5) > div:nth-child(3) {
        margin-right: 68px;
    }

    main > section:nth-child(6) > section:nth-child(5) > div:nth-child(3) > div:first-child {
        height: 6px;
    }

    main > section:nth-child(6) > section:nth-child(5) > div:nth-child(3) > div:nth-child(2) {
        height: 6px;
    }
}

/*======================================== 375px ========================================*/
@media (max-width: 375px) {
    /*skills section*/
    #skillHeadings {
        gap: 62px;
    }

    /*gallery section*/
    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:first-child {
        grid-row: 1/2;
        grid-column: 1/5;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(2) {
        display: none;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(3) {
        display: none;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(4) {
        display: none;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(5) {
        display: block;
        grid-row: 2/3;
        grid-column: 1/5;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(6) {
        display: none;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(7) {
        display: block;
        grid-row: 3/4;
        grid-column: 1/5;
    }

    main > section:nth-child(5) > section:nth-child(2) > section:first-child > div:nth-child(8) {
        display: none;
    }

    /*home section*/
    main > section:first-child > section > div:first-child > aside:nth-child(2) > div:first-child {
        width: 300px;
        height: 382px;
    }
}

/*======================================== 320px ========================================*/
@media (max-width: 320px) {
    /*skills section*/
    #skillHeadings {
        gap: 54px;
    }

    #btnEducation {
        font-size: 14px;
    }

    #btnWork {
        font-size: 14px;
    }

    .menu {
        display: none;
    }
}