main > section:nth-child(3) {
    position: relative;
    top: 0;
    width: 100%;
}

main > section:nth-child(3) > section:nth-child(1) {
    position: relative;
    text-align: center;
    padding-top: 50px;
}

main > section:nth-child(3) > section:nth-child(1) > h1 {
    font-family: Ubuntu, sans-serif !important;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 7px;
    padding-bottom: 18px;
    color: white;
}

main > section:nth-child(3) > section:nth-child(1) > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}

main > section:nth-child(3) > section:nth-child(1) > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 6px;
    background: dodgerblue;
    bottom: 0;
    left: calc(50% - 110px);
}

main > section:nth-child(3) > section:nth-child(2) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-left: 70px;
    margin-right: 69px;
    transition: all 2s;
}

main > section:nth-child(3) > section:nth-child(2) > section {
    width: 2000px;
    display: flex;
    flex-wrap: wrap;
    gap: 66px;
    align-items: center;
    justify-content: space-evenly;
    z-index: 2;
    transition: all 2s;
}

main > section:nth-child(3) > section:nth-child(2) > section > div {
    position: relative;
    width: 320px;
    height: 320px;
    background: #ECF0F3;
    border-radius: 25px;
}

main > section:nth-child(3) > section:nth-child(2) > section > div:hover {
    transition: all 0.7s ease;
    -webkit-transform: scale(0.97);
    transform: scale(0.97);
    box-shadow: 0 0 5px 5px dodgerblue;
    cursor: pointer;
}

main > section:nth-child(3) > section:nth-child(2) > section > div > div {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: fit-content;
    height: 50px;
    margin: auto;
}

main > section:nth-child(3) > section:nth-child(2) > section > div > div > i {
    color: dodgerblue;
    font-size: 2.40em;
}

main > section:nth-child(3) > section:nth-child(2) > section > div > h4 {
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    font-family: 'Ubuntu' !important;
    font-size: 22px;
    text-align: center;
    color: black;
}

main > section:nth-child(3) > section:nth-child(2) > section > div > p {
    position: absolute;
    width: 264px;
    top: 155px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 17px;
    text-align: center;
    color: #9494A1 !important;
    font-family: 'Roboto', sans-serif !important;
}