body > section:nth-child(8) > section {
    display: flex;
    justify-content: space-evenly;
}

body > section:nth-child(8) > section > div {
    width: 300px;
    height: 400px;
    background-color: dodgerblue;
    margin-top: 100px;
    border-radius: 20px;
}

body > section:nth-child(8) > section > div:hover {
    transform: scale(1.01);
    box-shadow: 0 0 10px 2px dodgerblue;
}

body > section:nth-child(8) > section > div > h1 {
    color: black;
    text-align: center;
}

body > section:nth-child(8) > section > div > p {
    margin-top: 50px;
    text-align: center;
}