body > section:nth-child(4) > h3 {
    margin-top: 50px;
    margin-left: 70px;
}

body > section:nth-child(4) > section {
    display: flex;
    justify-content: space-evenly;
}

body > section:nth-child(4) > section > div>img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

body > section:nth-child(4) > section:nth-child(4) > div:first-child {
    position: absolute;
    left: 60px;
}

body > section:nth-child(4) > section:nth-child(4) > div:nth-child(2) {
    position: absolute;
    left: 260px;
}