main > section:nth-child(4) {
    position: relative;
    top: 0;
    width: 100%;
}

main > section:nth-child(4) > section:nth-child(1) {
    position: relative;
    text-align: center;
    padding-top: 100px;
}

main > section:nth-child(4) > section:nth-child(1) > h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
    padding-bottom: 18px;
    color: white;
}

main > section:nth-child(4) > section:nth-child(1) > h1::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 2px;
    background: #ddd;
    bottom: 2px;
    left: calc(50% - 60px);
    border-radius: 2px;
}

main > section:nth-child(4) > section:nth-child(1) > h1::after {
    content: "";
    position: absolute;
    display: block;
    width: 220px;
    height: 6px;
    background: dodgerblue;
    bottom: 0;
    left: calc(50% - 110px);
}

main > section:nth-child(4) > section:nth-child(3) {
    position: absolute;
    left: 172px;
    top: 179px;
}

main > section:nth-child(4) > div:nth-child(4) {
    position: absolute;
    width: 576px;
    top: 126px;
    left: 0;
    right: 0;
    margin: auto;
}

.slider {
    width: 600px;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slider .slide-track {
    animation: 50s linear infinite;
    animation-name: slider-animation;
    animation-direction: normal;
    display: flex;
    animation-delay: 2s;
    width: calc(100px * 14);
}

.slider .slide {
    height: 100px;
    width: 100px;
}

@keyframes slider-animation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}