@media all and (max-width: 320px) {

    /*---Home---*/
    body > section:first-child > nav:first-child {
        display: none;
    }

    body > section:first-child > h2 {
        font-size: 18px;
        top: 7px;
        left: 20px;
    }

    body > section:first-child > h1 {
        top: 45px;
        left: 20px;
        font-size: 22px;
    }

    body > section:first-child > h3 {
        top: 58px;
        left: 20px;
        font-size: 15px;
    }

    body > section:first-child > nav:nth-child(6) {
        position: absolute;
        top: 140px;
        left: 36px;
    }

    body > section:first-child > div:nth-child(7) {
        width: 179px;
        height: 220px;
    }

    body > section:first-child > div:nth-child(7) > img {
        width: 210px;
    }

    body > section:first-child > div:nth-child(5) {
        width: 72px;
        height: 20px;
        top: 100px;
        left: 20px;
    }

    body > section:first-child > div:nth-child(5) > img {
        display: none;
    }

    body > section:first-child > div:nth-child(5) > a {
        font-size: 13px;
        top: 4px;
    }

    /*---About---*/
    body > section:nth-child(2) > h1 {
        top: 14px;
        left: 23px;
        font-size: 25px;
    }

    body>section:nth-child(2)>article>p {
        margin-top: 17px;
        font-size: 15px;
    }

    body > section:nth-child(2) > article > p:nth-child(2) {
        display: none;
    }

    body > section:nth-child(2) > div:nth-child(3) {
        top: 0px;
        left: 20px;
    }

    body > section:nth-child(2) > div:nth-child(3)>ul>li {
        font-size: 15px;
    }

    body > section:nth-child(2) > div:nth-child(3)>ul>li>span {
        font-size: 15px;
    }

    body > section:nth-child(2) > div:nth-child(4) {
        display: none;
    }

    body > section:nth-child(2) > div:nth-child(6) {
        display: none;
    }
}